.header-content {
    min-height: 90vh;
    display: flex;
    flex-direction: row; /* Change to row to position text and animation side by side */
    align-items: center;
    justify-content: space-between; /* Space between text and animation */
    background: linear-gradient(
        rgba(181, 107, 242, 0.4),
        rgba(240, 238, 238, 0.4)
    ), url("../../images/hero.png") center/cover no-repeat;
    padding: 6rem;
    color: white;
}

.text-section {
    max-width: 50%; /* Adjust to fit the content */
}

.header-title {
    font-size: 5rem;
    margin-left: 20px;
    margin-bottom: 1rem;
}

.header-text {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.animation-section {
    flex-shrink: 0; /* Prevent the animation from shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
}
